/* CSS files add styling rules to your content */

body {
  font-family: "Menlo", "Roboto Mono", "helevetica neue", "helvetica", "arial", sans-serif;
  margin: 2em;
}
html{background:#FFFFFF;color:#0B0C0C;font-family: "Helvetica";font-size:calc(19px + 0.5vw);line-height:1.5;overflow-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent}

body{margin:0;overflow-x:hidden; display:block;max-width:32rem;margin:0 auto;padding:2rem 1rem;}
main{margin-top: 40px;}*+*{margin-top:1.5rem}p+p{margin-top:0.75rem}hr{height:0.25rem;border:2px solid #616d83;border-left:0;border-right:0;margin:2.1rem 0}:focus{outline:0.125rem solid #F15618;outline-offset:.125rem}

/* unvisited link */
a:link {
    color: #005EA5;
}

/* visited link */
a:visited {
    color: #4C2C92;
}

/* mouse over link */
a:hover {
    color: #2B8CC4;
}


}h1,h2,h3{font-weight:bold;line-height:1.1}h1{font-size:calc(48px+ 0.5vw);margin-top:0}h2{font-size:calc(36px+ 0.5vw)}h3{font-size:calc(24px+ 0.5vw)}h4{font-size: calc(19px+ 0.5vw)}p{font-size:calc(19px + 0.5vw)}

.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */;
    }

/* Links inside the navbar */
.navbar a {padding: 14px 20px 14px 0px}




/* lists */

ul,ol{font-weight:400;font-size:calc(19px+ 0.5vw);text-transform:none;line-height:1.4285714286;padding-left:26pt;}ul{list-style:square}ol{list-style:square}li{line-height:0}



:target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-40px 0 0; /* negative fixed header height */
}




